.nav__item a.active {
  background-image: linear-gradient(142.17deg, #0da2ff 6.66%, #0055ff 91.48%);
  box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.2),
    inset 4px 4px 5px rgba(255, 255, 255, 0.23);
  color: #fcfcfc;
}
