.header-image {
  height: 19.75rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/fon.jpg");
}
