.box {
  background-color: #23262b;
  box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.07);
  border-radius: 20px;

  position: relative;
}

.sidebar {
  transition: all 0.3s ease-in-out;
  padding: 1.5rem;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
